@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* .wrapper {
  width: 1440px;
  margin: auto;
} */
.main-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 90%;
}
.flex {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 118px;
}
.lang {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 100%;

  align-items: center;
  justify-content: center;
}
.nav {
  gap: 24px;
}
a {
  text-decoration: none;
  color: white;
}
.hero {
  background-image: url("./Img/HeroImage.png");
  display: flex;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1440px;
  height: 773px;
  flex-direction: column;
  justify-content: center;
}
.title {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.text_one {
  color: #e8edf2b8;
  font-size: 80px;
  font-family: "Bebas Neue";
}
.text_two {
  color: #fdfdfefa;
  font-size: 250px;
  font-family: "Bebas Neue";
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  background-image: url(./Img/location.png);
  align-items: center;
  height: 500px;
  width: 1440px;
}

.card {
  width: 276px;
  height: 370px;
  border-radius: 40px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
}
.column1:hover {
  border: 4px solid rgba(255, 255, 255, 1);
  background: rgba(238, 233, 217, 1);
}
.column2:hover {
  border: 4px solid rgba(255, 255, 255, 1);
  background: rgba(139, 184, 193, 0.8);
}
.column3:hover {
  border: 4px solid rgba(255, 255, 255, 1);
  background: rgba(170, 216, 215, 0.8);
}
.column4:hover {
  border: 4px solid rgba(255, 255, 255, 1);
  background: rgba(139, 192, 189, 0.8);
}
.column5:hover {
  border: 4px solid rgba(255, 255, 255, 1);
  background: rgba(151, 204, 224, 0.8);
}
.bg-image-1 {
  background-image: url(./Img/terkhiin.png);
  background-size: cover;
  box-shadow: 8px 8px #29728b40, -8px -8px #1f72aa75;
}
.bg-image-2 {
  background-image: url(./Img/Amarbayasgalant.png);
  background-size: cover;
  box-shadow: 8px 8px #29728b40, -8px -8px #1f72aa75;
}
.bg-image-3 {
  background-image: url(./Img/Khuvsgul.png);
  background-size: cover;
  box-shadow: 8px 8px #29728b40, -8px -8px #1f72aa75;
}
.bg-image-4 {
  background-image: url(./Img/terkhiin.png);
  background-size: cover;
  box-shadow: 8px 8px #29728b40, -8px -8px #1f72aa75;
}

.map {
  background-image: url(./Img/maps.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1022px;
  width: 1440px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.tom {
  height: 902px;
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 59px;
}
.tom_garchig {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 42px;
  text-align: center;
  vertical-align: bottom;
}
.jijig_garchig {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  text-align: center;
  vertical-align: bottom;
  text-transform: capitalize;
}

.zuun_baruun {
  width: 1200px;
  height: 640px;
  display: flex;
  justify-content: space-between;
}
.zuun {
  height: 640px;
  width: 513px;
}
.baruun {
  height: 640px;
  width: 647px;
  position: relative;
}
.column1 {
  width: 513px;
  height: 112px;
  border-radius: 120px;
  display: flex;
  justify-content: space-between;
  background-color: #eee9d9;
  align-items: center;
  margin: 10px 0;
  margin: 20px;
}

.column2 {
  width: 513px;
  height: 112px;
  border-radius: 120px;
  display: flex;
  justify-content: space-between;
  background-color: #8bb8c1cc;
  align-items: center;
  display: flex;
  margin: 10px 0;
  margin: 20px;
}

.column3 {
  width: 513px;
  height: 112px;
  border-radius: 120px;
  display: flex;
  justify-content: space-between;
  background-color: #aad8d7cc;
  align-items: center;
  display: flex;
  margin: 10px 0;
  margin: 20px;
}

.column4 {
  width: 513px;
  height: 112px;
  border-radius: 120px;
  display: flex;
  justify-content: space-between;
  background-color: #8bc0bdcc;
  align-items: center;
  display: flex;
  margin: 10px 0;
  margin: 20px;
}

.column5 {
  width: 513px;
  height: 112px;
  border-radius: 120px;
  display: flex;
  justify-content: space-between;
  background-color: #97cce0cc;
  align-items: center;
  display: flex;
  margin: 10px 0;
  margin: 20px;
}

.Sukhbaatar {
  margin-left: 30px;
}

.day {
  background-image: url(./Img/circle.png);
  height: 52px;
  width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 28px;
}

.ul {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
}

.suk {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
}
.jijig-2 {
  display: flex;
  gap: 12px;
}
.pin_h {
  height: 14px;
  width: 14px;
}

.pin-4 {
  position: absolute;
  top: 416px;
  left: 279px;
}

.pin-3 {
  position: absolute;
  top: 181px;
  left: 492px;
}

.pin-2 {
  position: absolute;
  top: 164px;
  left: 107px;
}

.pin {
  position: absolute;
  top: 42px;
  left: 279px;
}

.price {
  width: 1440px;
  height: 1120px;
  background-image: url(./Img/Footer.png);
}

.big {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 42px;
}

.small {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #18181bb2;
}

.package-card {
  display: flex;
  width: 384;
  height: 527;
  border-radius: 40px;
}

.selectpackage:hover {
  background: var(--background-bg-primary-90, rgba(24, 24, 27, 0.9));
}

.package-card {
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 384px;
  height: 527px;
  border-radius: 40px;
  background-color: white;
  margin: 10px;
  padding: 20px;
}

.selectcards:hover {
  background: var(--background-bg-primary-90 rgba(31, 114, 170, 0.46));
}

.package-cards {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin: 79px;
}

.card-header {
  font-size: 15px;
  padding: 0px 10px 0px 0px;
  align-items: center;
  display: flex;
  margin-bottom: 30px;
  gap: 15px;
}

.price {
  font-size: 40px;
  font-weight: 300;
}

.info1 {
  font-size: 16px;
  color: #abababcc;
  margin: 8px 0px;
  font-weight: 100;
  margin-bottom: 32px;
}

.includes {
  margin: 20px 65px;
  font-weight: 200px;
  font-size: 20px;
}

.includes-check {
  margin: 25px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.checkmark {
  margin: 0px 20px 0px 0px;
}

.selectpackage {
  background-color: #a4d1e2;
  border-radius: 30px;
  padding: 15px;
  text-align: center;
  margin-top: 37px;
  font-size: 16px;
}

.social {
  display: flex;
  justify-content: flex-start;
  margin: 100px;
  margin-top: 265px;
}

.media {
  display: flex;
  gap: 20px;
}

.fb {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 100%;
  color: #6972b5;
  background-color: white;
  width: 167px;
  border-radius: 25px;
  gap: 10px;
}

.ig {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 18px;
  color: #6972b5;
  background-color: white;
  width: 167px;
  border-radius: 25px;
  gap: 10px;
}
.tour {
  padding-left: 791px;
  border-radius: 1px;
  width: 101px;
  height: 35px;
  opacity: 1;
}
.sukhee-image {
  height: 245px;
  width: 245px;
  display: none;
  position: absolute;
  padding-left: 923px;
  top: 1610px;
}

.amarbaysgalant-image {
  height: 245px;
  width: 245px;
  display: none;
  position: absolute;
  left: 1106px;
  top: 1497px;
}

.khorgiin-image {
  height: 245px;
  width: 245px;
  display: none;
  position: absolute;
  left: 970px;
  top: 1625px;
}

.terkh-image {
  height: 245px;
  width: 245px;
  display: none;
  position: absolute;
  left: 930px;
  top: 1450px;
}

.khuvs-image {
  height: 245px;
  width: 245px;
  display: none;
  position: absolute;
  left: 1090px;
  top: 1465px;
}

.column1:hover + .sukhee-image {
  display: block;
}

.column2:hover + .amarbaysgalant-image {
  display: block;
}

.column3:hover + .khorgiin-image {
  display: block;
}

.column4:hover + .terkh-image {
  display: block;
}

.column5:hover + .khuvs-image {
  display: block;
}
